.img-cover {
    &::before {
        content:"";
        display: block;
        width: 100%;
        padding-top: 500px;
        background-color: rgba(0,0,0,.2);
    }
    background-image: url('../images/bg/bg-typography.jpeg');
    @-moz-document url-prefix() {
        background-image: image-set(
            url("../images/bg/bg-typography.avif") type("image/avif"),
            url("../images/bg/bg-typography.webp") type("image/webp"),
            url("../images/bg/bg-typography.jpeg") type("image/jpeg")
        );  
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.cover-title {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100% - 2.50rem);
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: calc(1.2rem + 4vw);
    .cover-subtitle {
        display: block;
        font-size: calc(1.2rem + 1.8vw);
        margin-top: 2rem;
    }
    &.d-mobile {
        display: none;
        @include mobile-breakpoint {
            display: flex;
        }
    }
    
    &.d-desktop {
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
}

.home{
    .img-cover {
        position: relative;
        width: 100%;
        background-image: url('../images/bg/gutenberg-statue-dom-state-capital-mainz.jpeg');
        @-moz-document url-prefix() {
            background-image: image-set(
                url("../images/bg/gutenberg-statue-dom-state-capital-mainz.avif") type("image/avif"),
                url("../images/bg/gutenberg-statue-dom-state-capital-mainz.webp") type("image/webp"),
                url("../images/bg/gutenberg-statue-dom-state-capital-mainz.jpeg") type("image/jpeg")
            );
        }
        @include mobile-breakpoint {
            background-image: url('../images/bg/mobile/gutenberg-statue-dom-state-capital-mainz-mobile.jpg');
            @-moz-document url-prefix() {
                background-image: image-set(
                    url("../images/bg/mobile/gutenberg-statue-dom-state-capital-mainz-mobile.avif") type("image/avif"),
                    url("../images/bg/mobile/gutenberg-statue-dom-state-capital-mainz-mobile.webp") type("image/webp"),
                    url("../images/bg/mobile/gutenberg-statue-dom-state-capital-mainz-mobile.jpg") type("image/jpg")
                );
            }
        }
        &::before {
            padding-top: calc(( 7 / 16) * 100%);
            position: relative;
            z-index: 1;
            @media screen and (max-width: 1400px) {
                padding-top: calc(( 9 / 16) * 100%);
            }
            @media screen and (max-width: 991px) {
                padding-top: calc(( 2 / 3) * 100%);
            }
            @include mobile-breakpoint {
                padding-top: calc(( 2 / 1.6) * 100%);
            }
        }
    }
    .cover-title {
        bottom: 20px;
        left: 0;
        height: 25vw;
        width: 55vw;
        padding: 0;

        @include mobile-breakpoint {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            font-size: calc(3.8rem + 9.5vw);
            bottom: 1.25rem;
            height: initial;
            line-height: .8;
            display: block;
            .typo-border {
                display: block;
            }
        }
    }
    .glide {
        margin-bottom: 80px;
        .glide__slides {
            align-items: center;
        }
        .glide__slide {
            figure {
                text-align: center;
            }
            blockquote {
                margin: 0;
                font-size: calc(1.1rem + 2vw);
            }
            figcaption {
                margin: 30px 0;
            }
        }
        .glide__bullets {
            bottom: -30px;
            .glide__bullet {
                box-shadow: none;
                transition: all .1s cubic-bezier(.25,.46,.45,.94);
                margin-right: .5rem;
                border-color: red;
                width: 16px;
                height: 1rem;
                &.glide__bullet--active {
                    background-color: red;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .icon-quotation {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: flex;
            .icon-q {
                background-color: red;
                position: relative;
                width: 140px;
                height: 140px;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    bottom: -60px;
                    left: 0;
                    border-left-width: 60px;
                    border-top: 60px solid red;
                }
            }
        }
        @include mobile-breakpoint {
            .glide__bullets {
                .glide__bullet {
                    width: calc(48px - 1rem);
                    height: calc(48px - 1rem);
                }
            }
            .icon-quotation .icon-q {
                width: 90px;
                height: 90px;
                &::before {
                    bottom: -40px;
                    border-left-width: 40px;
                    border-top: 40px solid red;
                }
            }
        }
    }
    .clip-svg {
        clip-path: url(#mask);
        display: block;
    }
    .c-clip-svg {
        background-color: red;
    }
}

.typography-site, .bio-site, .museum-site {
    .cover-title {
        top: 0;
    }
}

.typography-site {
    .img-cover {
        background-image: url('../images/bg/bg-typography.jpeg');
        @-moz-document url-prefix() {
            background-image: image-set(
                url("../images/bg/bg-typography.avif") type("image/avif"),
                url("../images/bg/bg-typography.webp") type("image/webp"),
                url("../images/bg/bg-typography.jpeg") type("image/jpeg")
            ); 
        }
    }
    .bg-image-box {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &::before {
            content:"";
            display: block;
            width: 100%;
            padding-top: calc(( 2 / 3) * 100%);
        }
        &.movable-types {
            background-image: url('../images/movable-types-www-gutenber.jpg');
        }
        &.museum {
            background-image: url('../images/Bundesarchiv-Bild-183-R67584-Duesseldorf-PresseausstellungGutenbergpresse.jpg');
        }
        &.tour {
            background-image: url('../images/tour-Mainz-monument-Gutenberg.jpg');
        }
        
    }
}

.bio-site {
    .img-cover {
        background-position: top center;
        background-image: url('../images/bg/Mainz-Gutenbergdenkmal-Relief.jpeg');
        @-moz-document url-prefix() {
            background-image: image-set(
                url("../images/bg/Mainz-Gutenbergdenkmal-Relief.avif") type("image/avif"),
                url("../images/bg/Mainz-Gutenbergdenkmal-Relief.webp") type("image/webp"),
                url("../images/bg/Mainz-Gutenbergdenkmal-Relief.jpeg") type("image/jpeg")
            );
        }
        @include mobile-breakpoint {
            background-image: url('../images/bg/mobile/Mainz-Gutenbergdenkmal-Relief-mobile.jpg');
            @-moz-document url-prefix() {
                background-image: image-set(
                    url("../images/bg/mobile/Mainz-Gutenbergdenkmal-Relief-mobile.avif") type("image/avif"),
                    url("../images/bg/mobile/Mainz-Gutenbergdenkmal-Relief-mobile.webp") type("image/webp"),
                    url("../images/bg/mobile/Mainz-Gutenbergdenkmal-Relief-mobile.jpg") type("image/jpg")
                );
            }
        }
    }
    .sidebar {
        .sidebar__inner {
            left: auto !important;
        }
        h2 {
            margin: 0;
        }
    }
    .content {
        min-height: 200px;
        img {
            display: block;
            margin: 0 auto 0;
            height: 500px;
            width: auto;
            padding: 10px 0 25px;
            @media screen and (max-width: 991px) {
                max-height: 500px;
                height: auto;
                padding: 0 0 30px;
            }
            @media screen and (max-width: 500px) {
                max-height: 350px;
            }
        }
    } 
}

.museum-site {
    .img-cover {
        background-image: url('../images/bg/Gutenberg-museum-tresorraum-bibeln.jpeg');
        @-moz-document url-prefix() {
            background-image: image-set(
                url("../images/bg/Gutenberg-museum-tresorraum-bibeln.avif") type("image/avif"),
                url("../images/bg/Gutenberg-museum-tresorraum-bibeln.webp") type("image/webp"),
                url("../images/bg/Gutenberg-museum-tresorraum-bibeln.jpeg") type("image/jpeg")
            );
        }
        @include mobile-breakpoint {
            background-image: url('../images/bg/mobile/Gutenberg-museum-tresorraum-bibeln-mobile.jpg');
            @-moz-document url-prefix() {
                background-image: image-set(
                    url("../images/bg/mobile/Gutenberg-museum-tresorraum-bibeln-mobile.avif") type("image/avif"),
                    url("../images/bg/mobile/Gutenberg-museum-tresorraum-bibeln-mobile.webp") type("image/webp"),
                    url("../images/bg/mobile/Gutenberg-museum-tresorraum-bibeln-mobile.jpg") type("image/jpg")
                );
            }
        }
        &::before {
            background-color: rgba(0,0,0,.3);
        }
    }
    .glide__slide {
        img {
            height: 330px;
            object-fit: cover;
        }
    }
    .col-masonry {
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
        @include mobile-breakpoint {
            margin-bottom: 50px;
        }
        .bg-color-image {
            background-color: #e6e8ea;
        }
    }
}

.bibliography-site {
    .video-youtube {
        position: relative;
        width: 100%;
        figcaption {
            visibility: hidden;
        }
    }
    .links-sites, .links-images {
        margin-bottom: 80px;
        padding-left: 0;
        list-style-type: none;
        li {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include mobile-breakpoint {
            margin-bottom: 50px;
            a {
                text-decoration: underline;
            }
        }
    }
    .links-sites {
        .h6 {
            display: block;
            font-weight: 600;
        }
    }
    .links-images {
        li {
            display: flex;
            align-items: center;
            .thumb {
                flex: 0 0 110px;
                margin-right: 15px;
                width: 110px;
            }
            p {
                flex: 0 0 auto;
                max-width: calc(100% - 125px);
            }
        }
        @media screen and (max-width: 600px) {
            li {
                flex-direction: column;
                align-items: flex-start;
                p {
                    max-width: 100%;
                }
            }
        }
    }
}