body {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
    &:after {
        content:"";
        width: 0;
        margin-left: -1px;
        background-color: black;
        height: 1px;
        display: block;
        transition: width .1s ease;
    }
    &:hover {
        color: black;
        &:after {
            width: calc(100% + 2px);
        }
    }
}

.special-link {
    display: inline-block;
    a {
        font-size: 2.6rem;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
    }
    .arrow-link {
        content: "";
        display: inline-block;
        background-image: url('../images/icons/arrow-right-thin.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        top: 3px;
        left: 1rem;
        transition: left 1s cubic-bezier(.19,1,.22,1);
    }
    &:hover {
        .arrow-link {
            left: 1.5rem;
        }
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

