@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Raleway:wght@100;900&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

nav {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

