@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Raleway:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Grenze+Gotisch&family=Joan&family=Playfair+Display:wght@800&family=Rasa:wght@500&family=STIX+Two+Text:wght@700&family=Spinnaker&family=Syne:wght@700&family=Trykker&family=UnifrakturMaguntia&family=Yatra+One&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.25rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

nav {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.logo, .gg, .gg-letter {
    color: red;
    font-family: 'UnifrakturMaguntia', cursive;
}

.logo {
    font-size: 3rem;
    text-transform: none;
}

.gg {
    font-size: 3rem;
}

.gg-letter {
    display: block;
    font-size: 9rem;
    line-height: 1;
    float: left;
    padding: 0 1rem 0 0;
    position: relative;
    top: .5rem;
}