body {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
    position: relative;
    &:after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        margin-left: -1px;
        border-bottom: 1px solid black;
        display: block;
        transition: width .2s ease;
    }
    &:hover {
        &:after {
            width: calc(100% + 2px);
        }
    }
}

.center {
    text-align: center;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 50px;
}

.c-inherit {
    color: inherit;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    &.i-center {
        display: block;
        margin: 0 auto;
    }
}

.typo-border {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 2.6px;
    @include mobile-breakpoint {
        -webkit-text-stroke-width: 1.9px;
    }
    &.border-2 {
        -webkit-text-stroke-width: 2px;
        @include mobile-breakpoint {
            -webkit-text-stroke-width: 1.4px;
        }
    }
    &.border-4 {
        -webkit-text-stroke-width: 4px;
        @include mobile-breakpoint {
            -webkit-text-stroke-width: 2.5px;
        }
    }
}

.bg-color {
    background-color: #f8f8f8;
}

.bg-color-dark {
    background-color: #333;
    color: #ccc;
    a {
        color: white;
        &::after {
            background-color: #fff;
        }
    }

}

.revers {
    transform: scaleX(-1);
}

.special-link {
    a {
        display: inline-block;
        font-size: 2.6rem;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
    }
    .arrow-link {
        content: "";
        display: inline-block;
        background-image: url('../images/icons/arrow-right-thin.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        top: 3px;
        left: 1rem;
        transition: left .3s cubic-bezier(.19,1,.22,1);
        &.revers {
            left: 0;
            margin-right: 1rem;
            top: 6px;
        }
    }
    &.xs-link {
        a {
            font-size: 2rem;
        }
        .arrow-link {
            width: 2rem;
            height: 2rem;
        }
    }
    
}

.go-to-back {
    margin-top: 50px;
}