$top_distance_nav: 58px;
$padding_top_nav: 50px;

.nav {
    position: fixed;
    // top: $top_distance_nav;
    top: 0;
    background-color: black;
    width: 100%;
    color: white;
    z-index: 1000;
    user-select: none;
    transition: transform .5s cubic-bezier(.25,.46,.45,.94);
    // transform: translateY(-$top_distance_nav);
    transform: translateY(0);
    ul {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        display: flex;
        overflow: hidden;
        li {
            padding-right: 1.5rem;
            a {
                display: block;
                font-size: 2rem;
                color: white;
                text-decoration: none;
                transition: color .25s cubic-bezier(.19,1,.22,1);
                &:hover {
                    color: red;
                }
                &.is-active {
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke-color: red;
                    -webkit-text-stroke-width: 1.5px;
                }
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .nav-open {
        position: relative;
        padding: $padding_top_nav 1.25rem 1rem;
        z-index: 1;
        transition: transform .5s cubic-bezier(.25,.46,.45,.94);
        transform: translateY(0);
    }
    .nav-collapsed {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: black;
        width: 100%;
        padding: .5rem 0 0rem 1.25rem;
        .nav-collapsed-inner {
            position: relative;
            overflow: hidden;
        }
        .logo {
            position: relative;
            top: -3px;
            transition: transform .4s cubic-bezier(.25,.46,.45,.94);
            transform: translateY(100%);
            >a {
                text-decoration: none;
            }
        }
    }
    &.collapsed {
        transition: transform .4s cubic-bezier(.25,.46,.45,.94);
        // transform: translateY(-100%);
        transform: translateY(-40px);
        .nav-open {
            transition: transform .3s cubic-bezier(.25,.46,.45,.94);
            // transform: translateY(-$top_distance_nav);
            transform: translateY(-45px);
        }
        .nav-collapsed {
            .logo {
                transition: transform .3s cubic-bezier(.25,.46,.45,.94);
                transform: translateY(0);
            }
        }
    }
    @media screen and (max-width: 991px) {
        ul {
            li {
                padding-right: 1.3rem;
            }
        }
    }
    @include mobile-breakpoint {
        transform: translateY(calc(-100% + 58px));
        .nav-open {
            height: 100vh;
            z-index: 0;
        }
        .nav-collapsed {
            .logo {
                transform: translateY(0);
            }
        }
        ul {
            padding-top: $padding_top_nav;
            flex-direction: column;
            li {
                padding-top: .725rem;
                padding-bottom: .625rem;
            }
        }
        &.collapsed {
            transform: translateY(-$top_distance_nav);
            .nav-collapsed {
                .logo {
                    transform: translateY(100%);
                }
            }
        }
    }
}

.header-collapsed {
    z-index: 999;
    transition: padding-top .5s cubic-bezier(.25,.46,.45,.94);
    padding-top: 103px;
    &.top-to-header {
        transition:  padding-top .4s cubic-bezier(.25,.46,.45,.94);
        padding-top: $top_distance_nav;
    }
    @include mobile-breakpoint {
        padding-top: 58px;
    }
}

// burger menu

.burger-menu {
    position: fixed;
    z-index: 1001;
    right: 2rem;
    top: .5rem;
    display: inline-block;
    cursor: pointer;
}

.bar-top, .bar-center, .bar-bottom {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar-top {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar-center {
    opacity: 0;
}

.change .bar-bottom {
    transform: translate(0, -11px) rotate(45deg);
}
