header {
    background-color: black;
    color: white;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
}

.bar-top, .bar-center, .bar-bottom {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar-top {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar-center {
    opacity: 0;
}

.change .bar-bottom {
    transform: translate(0, -11px) rotate(45deg);
}